In [1]:
import pandas as pd

In [2]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   --- ------------------------------------ 20.5/250.9 kB 81.9 kB/s eta 0:00:03
   --- ------------------------------------ 20.5/250.9 kB 81.9 kB/s eta 0:00:03
   ------ -------------------------------- 41.0/250.9 kB 178.6 kB/s eta 0:00:02
   ------ -------------------------------- 41.0/250.9 kB 178.6 kB/s eta 0:00:02
   ------ -------------------------------- 41.0/250.9 kB 178.6 kB/s eta 0:00:02
   -------------- ------------------------ 92.2/250.9 kB 238.1 kB/s eta 0:00:01
   ------------------ ------------------- 122.9/250.9 kB 300.4 kB/s eta 0:00:01
   ------------------------ ------------- 163.8/250.9 kB 350.7 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.9 kB 401.2 kB/s eta 0:00:01
   -------------------------------------- 250.9/250.9 kB 440.0 kB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\HP\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [11]:
export_ = pd.read_excel(r'C:\Big data\stat_export2566.xlsx')
export_ = export_[0:5000]

In [6]:
export_.columns

Index(['วัน/เดือน/ปี', 'วัน', 'เดือน', 'ปี', 'ด่านตรวจประมง', 'ประเทศ',
       'การขนส่ง', 'ชื่อไทย', 'ชื่อสามัญ', 'ชื่อวิทยาศาสตร์', 'กลุ่มสัตว์น้ำ',
       'แหล่งน้ำ', 'ลักษณะ', 'จำนวน/ปริมาณ', 'หน่วย', 'ปริมาณ', 'หน่วย.1',
       'มูลค่า (บาท)'],
      dtype='object')

In [12]:
export_['ประเทศ'].value_counts()

ประเทศ
สหรัฐอเมริกา    1069
มาเลเซีย         868
ฮ่องกง           334
ญี่ปุ่น          310
กัมพูชา          309
                ...
ลัตเวีย            1
โปแลนด์            1
คูราเซา            1
สเปน               1
คองโก              1
Name: count, Length: 78, dtype: int64

In [13]:
export_['กลุ่มสัตว์น้ำ'].value_counts()

กลุ่มสัตว์น้ำ
ปลา              3802
กุ้ง              634
หอย               227
หมึก              182
สัตว์น้ำอื่นๆ      81
ปู                 63
จระเข้             11
Name: count, dtype: int64

In [14]:
def month_to_quarter(month):
    return f'Q{(month - 1) // 3 + 1}'

In [39]:
import pandas as pd

# อ่านไฟล์ CSV
Transportation_ = pd.read_csv(r'C:\Big data\m1.csv')  # ชื่อไฟล์ CSV แรก
group_ = pd.read_csv(r'C:\Big data\m2.csv')  # ชื่อไฟล์ CSV ที่สอง

# ลบช่องว่างจากชื่อคอลัมน์
Transportation_.columns = Transportation_.columns.str.strip()
group_.columns = group_.columns.str.strip()


# แสดงชื่อคอลัมน์
print("ชื่อคอลัมน์ใน Transportation_:", Transportation_.columns.tolist())
print("ชื่อคอลัมน์ใน group_:", group_.columns.tolist())

ชื่อคอลัมน์ใน Transportation_: ['เดือน', 'ประเทศ', 'การขนส่ง', 'มูลค่า (บาท)', 'กลุ่มสัตว์น้ำ', 'ปริมาณ', 'หน่วย']
ชื่อคอลัมน์ใน group_: ['เดือน', 'ประเทศ', 'การขนส่ง', 'มูลค่า (บาท)', 'กลุ่มสัตว์น้ำ', 'ปริมาณ', 'หน่วย']

In [40]:
# รวมข้อมูล
merged_df = pd.merge(Transportation_, group_, on=['เดือน', 'ประเทศ', 'การขนส่ง', 'กลุ่มสัตว์น้ำ', 'ปริมาณ', 'หน่วย', 'มูลค่า (บาท)'], how='inner')
print(merged_df.head())

   เดือน     ประเทศ การขนส่ง  มูลค่า (บาท) กลุ่มสัตว์น้ำ   ปริมาณ หน่วย
0      1   ฝรั่งเศส     เรือ    479073.667           ปลา   6048.0   KGM
1      1  โดมินิกัน     เรือ   2010616.875           ปลา  13632.0   KGM
2      1    ญี่ปุ่น     เรือ   1283574.240           ปลา  36000.0   KGM
3      1    ญี่ปุ่น     เรือ   1797377.100           ปลา  14361.6   KGM
4      1    ไต้หวัน     เรือ   4041182.270          กุ้ง  10994.1   KGM

In [42]:

# บันทึกไฟล์ CSV ที่รวมแล้ว
merged_df.to_csv('merged_file.csv', index=False)